@import 'vendor/reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


body {
    font-family: 'Poppins', sans-serif;
    background-color: black;
    font-size: 22px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

*,*::after,*::before{
    box-sizing: border-box;
}

@import 'blocks/container';
@import 'blocks/panel';
@import 'base/media';
